/* Styles for the hero container */
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 115vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  overflow: hidden; /* Hide overflow content */
  position: relative; /* Position relative for absolute positioning of the image */
  margin-top:-270px; /* No margin */
}

/* Styles for the hero image */
.hero-image {
  width: 100vw; /* Full viewport width */
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the container while maintaining aspect ratio */
  position: absolute; /* Absolute positioning */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  transform: none; /* No transform */
}

/* Media queries for responsive design */
@media (max-width: 1205px) {
  .hero-container {
    height: auto; /* Adjust height for smaller screens */
  }

  .hero-image {
    width: 100%; /* Full width */
    max-width: none; /* Remove any maximum width */
    position: relative; /* Position relative for small screens */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    transform: none; /* No transform */
  }
}
@media (max-width: 1205px) {
  .hero-container {
    height: auto; 
    margin-top: 0;
  }}