.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 115vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  margin-top: -270px;
}

.hero-image {
  width: 100vw;
  height: auto;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
}

@media (max-width: 1205px) {
  .hero-container {
    height: auto;
  }

  .hero-image {
    width: 100%;
    max-width: none;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

@media (max-width: 1205px) {
  .hero-container {
    height: auto;
    margin-top: 0;
  }
}
